* {
    font-family: arial;
    font-size: 16px;
}

body {
    background-color: rgb(214, 189, 158);
}

main {
    background-color: whitesmoke;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.418);
}